<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <bean id="sessionBean"
          class="com.verigo.SessionBean"/>
            
    <bean id="userService"
          class="com.verigo.supplier.service.implementation.UserServiceImplementation"/>
    
    <bean id="supplierService"
          class="com.verigo.supplier.service.implementation.SupplierServiceImplementation"/>
    
    <bean id="goodService"
          class="com.verigo.supplier.service.implementation.GoodServiceImplementation"/>

    <bean id="linkService"
              class="com.verigo.supplier.service.implementation.LinkServiceImplementation"/> 
           
    <bean id="statService"
          class="com.verigo.supplier.service.implementation.StatServiceImplementation"/>

</beans>